html{
    background-color: darkgray;
}

#container{
    font-family: arial;
    margin-left: auto;
    margin-right: auto;
    height: 150vh;
    width: 1200px;
    display: flex;
    position: relative;
    border: 2px solid black;
    
}


#project-adder{
    background-color: #4844BE;
    height: 400px;
    width: 200px;
    margin-left: 5px;
    margin-top: 180px;
    border-radius: 20px;
    position: absolute;
}

#pBtn-div{
    margin-top: 290px;
    margin-left: 10px;
    position: absolute;  
}

#pInputs-div{
    margin-left: 10px;
    position: absolute;
}

#worker-adder{
    background-color: #2AA26A;
    height: 300px;
    width: 200px;
    margin-left: 5px;
    margin-top: 595px;
    border-radius: 20px;
    position: absolute;
}

#wInputs-div{
    margin-left: 10px;
    position: absolute;
}

#wBtn-div{
    margin-top: 190px;
    margin-left: 10px;
    position: absolute;  
}

.btns{
    border-radius: 10px;
}

.inputs{
    border-radius: 10px;
    width: 170px;
}

.subHeaders{
    font-size: 23px;
    text-align: center;
}

#worker-list-container{
    
    background-color:lightcyan;
    position:absolute;
    border-radius:10px;
    border:2px solid black;
    top:16%;
    left:20%;
    padding:10px;
    margin:5px;
    
   
    
}
#table-list{
    position: absolute;
    top: 105px;
    left: 205px;
}

table{
    width: 995px;
    border-collapse: collapse;
    margin-bottom: 50px;
}
th{
    border: 2px solid black;
    height: 30px;
    border-collapse: collapse;
    background-color: lightgray;
}
td{
    border: 1px solid black;
    border-collapse: collapse;
    height: 20px;
    width: 200px;
    background-color: aqua;
    position: relative;
}
.dropdown{
    position:absolute;
    right: 0.1px;
    top: -10px;
    width: 123.5px;
    height: 22px;
    font-size: 10px;
}

.dropdown2{
    position:absolute;
    right: 0.1px;
    top: -10px;
    width: 123.5px;
    height: 22px;
    font-size: 10px;
}


.dropdown-btn{
    width:100%;
    height:100%;
    background-color: lightgray;
}

.dropdown-btn h1{
    position:relative;
    text-align: center;
    font-size: 15px;
    
}

.dropdown-ul{
    position:absolute;
    margin:0;
    padding: 0;
    width:100%;
    display:none;
    font-size: 15px;
    
}


.dropdown-ul li{
    
    list-style: none;
    
}


.dropdown-ul li a{
    
    display:block;
    padding:10px;
    text-align: center;
    text-decoration: none;
    color:black;
    border: 1px solid black;
    
    
}

#status-working{
    background-color:aqua;
}


#status-stuck{
    background-color: brown;
}

#status-done{
    background-color:greenyellow;
}

#priority-urgent{
    background-color: orangered;
}

#priority-medium{
    background-color: mediumpurple;
}

#priority-low{
    background-color:deepskyblue;
}


.dropdown-btn:hover + .dropdown-ul{
    
    display:block;
    
}

.dropdown-ul:hover{
    
    display:block;
}