* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html{
    background-color: darkgray;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
  }

#container{
    margin-left: auto;
    margin-right: auto;
    height: 150vh;
    display: flex;
    position: relative;
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    min-height: calc(100vh - 1083.6px - 58.4px);
    
}


#project-adder{
    background-color: #4844BE;
    height: 400px;
    width: 200px;
    margin-left: 5px;
    margin-top: 180px;
    border-radius: 20px;
    position: absolute;
}

#task-adder{
    display: none;
    background-color: bisque;
    height: 430px;
    width: 200px;
    left: 230px;
    top: 180px;
    border-radius: 20px;
    position: absolute;
    padding: 10px;
}

#pBtn-div{
    margin-top: 290px;
    margin-left: 10px;
    position: absolute;  
}

#pInputs-div{
    margin-left: 10px;
    position: absolute;
}

#worker-adder{
    background-color: #2AA26A;
    height: 300px;
    width: 200px;
    margin-left: 5px;
    margin-top: 595px;
    border-radius: 20px;
    position: absolute;
}

#wInputs-div{
    margin-left: 10px;
    position: absolute;
}

#wBtn-div{
    margin-top: 190px;
    margin-left: 10px;
    position: absolute;  
}

.btns{
    border-radius: 10px;
}

.inputs{
    border-radius: 10px;
    width: 170px;
}

.subHeaders{
    font-size: 23px;
    text-align: center;
}

.testbtn{
    width: 100px;
    height: 40px;
}
#worker-list-container{
    
    background-color:lightcyan;
    position:absolute;
    border-radius:10px;
    border:2px solid black;
    top:16%;
    left:20%;
    padding:10px;
    margin:5px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    
  }

  #headerEl{
      margin-left: 590px;
      height: 150px;
      width: 200px;
      border-radius: 15%;
      background-color: #333333;
  }

  #headerEl, img {
      margin-top: -25px;
  }

