.dropdown{
    
    position:absolute;
    top:20%;
    left:20%;
    
}

.dropdown2{
    
    position:absolute;
    top:50%;
    left:40%;
}


.dropdown-btn{
    
    position:relative;
    width:200px;
    height:60px;
    background-color: lightgray;
    border:none;
    
    
}

.dropdown-btn h1{
    
    position:relative;
    text-align: center;
    top:10px;
    
}



.dropdown-ul{
    
    position:absolute;
    margin:0;
    padding: 0;
    width:100%;
    display:none;
    
}


.dropdown-ul li{
    
    list-style: none;
    
}


.dropdown-ul li a{
    
    display:block;
    padding:10px;
    text-align: center;
    text-decoration: none;
    color:black;
    border: 1px solid black;
    
    
}

#status-working{
    background-color:aqua;
}


#status-stuck{
    background-color: brown;
}

#status-done{
    background-color:greenyellow;
}

#priority-urgent{
    background-color: orangered;
}

#priority-medium{
    background-color: mediumpurple;
}

#priority-low{
    background-color:deepskyblue;
}


.dropdown-btn:hover + .dropdown-ul{
    
    display:block;
    
}

.dropdown-ul:hover{
    
    display:block;
}



