* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html.body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: SegoeR UI, Arial, sans-serif;
    background-color: #F1F2C5;
    position: relative;
    padding-bottom: 58px;
    height: 100vh;
}

#container{
    min-height: 100%;
    position: relative;
    margin-bottom: 50px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}

#header-div{
    background-color: #262F37;
    border: black 2px;
    height: 90px;
    width: 100%;
}
/* Plassering av logoen */
#headerImg{
    position: relative;
    height: 120px;
    width: 100px;
    margin-top: -15px;
    margin-left: 45%;   
}

/*Grid container med gitte template areas for responsivt design */
#grid-container {
    margin-top: 95px;
    display: grid;
    grid-template-columns: 210px auto auto 200px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px 5px;
    grid-template-areas:
    "menu-div table-list table-list worker-list-container"
    "menu-div table-list table-list worker-list-container"
    "menu-div table-list table-list worker-list-container";
  }
/* Menu-div som grid area, er en container for alle elementer til venstre i grid-container */      
#menu-div {
    grid-area: menu-div;
    
  }

/* Samme som over, en container for elementer som skal være midt i grid-container */
#table-list {
    grid-area: table-list;

  }

/* Element til høyre i grid-container. Style for div som inneholder arbeidere man har lagt til */
#worker-list-container {
    grid-area: worker-list-container;
    color: whitesmoke;
    background-color: #262F37;
    border-radius: 20px;
    border: 2px solid #ff8947;
    grid-row-start: 1;
    grid-row-end: 2;
    
}

#worker-list-h2{
    padding-top: 20px;
    margin-left: 45px;
}
/* Style for alle adders */  
.adders{
    color: whitesmoke;
    background-color: #262F37;
}

/* Style for div man legger til prosjekter */
#project-adder{
    height: 250px;
    width: 200px;
    margin: 2px;
    border-radius: 20px;
    transition:1s;
    border:#e14da8 2px solid;
   
}
/* Style for prosjekt-button */
#pBtn-div{
    top: 200px;
    left: 10px;
    position: absolute;  
}


/* Style for div man legger til tasks */
#task-adder{
    grid-area: menu-div;
    display: none;
    height: auto;
    width: 200px;
    left: 10px;
    top:100px;
    border-radius: 20px;
    border: coral 2px solid;
    padding: 10px;
    position:absolute;
    
}

#pInputs-div{
    left: 10px;
    position: absolute;
}

/* Style for div man legger til workers */
#worker-adder{
    height: 300px;
    width: 200px;
    margin: 2px;
    margin-top:20px;
    border-radius: 20px;
    border:#efd072 2px solid;
    transition:1s;
    transition-delay: 0.3s;
    
}
#addWorkerBtn{
    position: absolute;
}

/* Workers-button */
#wBtn-div{
    position: relative;
    top: 200px;
    left: 10px;
    align-content: center;
    justify-content: center; 
}

#wInputs-div{
    margin-left: 10px;
    position: absolute;
    
}

/* Style buttons for workers og projects adders  */
.btns {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:5px 7px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

/* Style buttons for table adders */
.tableBtns {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background-color:#262F37;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:5px 7px;
    text-decoration:none;
    margin-bottom: 5px;
}

/* Style buttons for edit og remove task inne i table */
.smallTableBtn{
    box-shadow: 0px 1px 0px 0px #1c1b18;
	background-color:#262F37;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:3px 5px;
    text-decoration:none;
    margin-bottom: 5px;
    margin-top: 5px;

}

/* Kule effekter ved hovers og active på buttons */
.smallTableBtn:hover {
    background-color:rgba(38, 47, 55, 0.719);

}
.samllTableBtn:active {
	position:relative;
	top:1px;
}

.tableBtns:hover {
    background-color:rgba(38, 47, 55, 0.719);

}
.tableBtns:active {
	position:relative;
	top:1px;
}

.btns:hover {
    background-color:#ccc2a6;
    padding:6px 8px;

}
.btns:active {
	position:relative;
	top:1px;
}

.inputs{
    margin: 3px;
    border-radius: 8px;
    width: 170px;
    padding-left: 3px;
}

.subHeaders{
    font-size: 23px;
    text-align: center;
}

.testbtn{
    width: 100px;
    height: 40px;
}

#projectNameStyle{
    color: #e78200;
    text-shadow: 2px 2px 3px #000;
}

/* Style for table, th = table-header, td = table data(cells) */
table {
    border-collapse: collapse;
    margin-bottom: 50px;
    width: 995px;
}
th{
    border: 2px solid black;
    height: 30px;
    border-collapse: collapse;
    background-color: #eae0c2;
}
td{
    border: 1px solid black;
    border-collapse: collapse;
    height: 20px;
    width: 200px;
    background-color: whitesmoke;
    position: relative;
    text-align: center;
}

/* Style for dropdown-menyene inne i table - priority og status */
.dropdown{
    position:absolute;
    right: 0.1px;
    top: 0px;
    width: 123.5px;
    height: 30px;
    font-size: 10px;
    margin-top: 20px;
}

.dropdown2{
    position:absolute;
    right: 0.1px;
    top: 0px;
    width: 123.5px;
    height: 30px;
    font-size: 10px;
    margin-top: 5px;
}
.dropdown-table-row{
    position:absolute;
    right: 0.1px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-size: 10px;
}

.dropdown2-table-row{
    position:absolute;
    right: 0.1px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-size: 10px;
}

.dropdown-btn{
    width:100%;
    height:100%;
    background-color: whitesmoke;
}

.dropdown-btn h1{
    position:relative;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    color: #262F37;  
    
}

/* Style for innhold/listene inne i dropdowns */

.dropdown-ul{
    position:absolute;
    margin:0;
    padding: 0;
    width:100%;
    display:none;
    font-size: 15px;
    z-index: 1;
    
}


.dropdown-ul li{
    
    list-style: none;
    
}


.dropdown-ul li a{
    
    display:block;
    padding:10px;
    text-align: center;
    text-decoration: none;
    color:black;
    border: 1px solid black;
    
    
}

/* Style for alternativene i dropdowns */

#status-progress{
    background-color:yellow;
}

#edit-task-p{
    margin-top: 18px;
}

.status-In{
    background-color:yellow;
    width: 100%;
    height: 100%;
    margin: auto;
}

#status-stuck{
    background-color: red;
}
.status-Stuck{
    background-color: red;
    width: 100%;
    height: 100%;
}

#status-done{
    background-color:greenyellow;
}
.status-Done{
    background-color:greenyellow;
    width: 100%;
    height: 100%;
}

#priority-urgent{
    background-color: red;
}
.priority-Urgent{
    background-color: red;
    width: 100%;
    height: 100%;
}
.priority-urgent-row-li{
    background-color: red;
    width: 100%;
    height: 100%;
}

#priority-medium{
    background-color: yellow;
}
.priority-Medium{
    background-color: yellow;
    width: 100%;
    height: 100%;
}
.priority-medium-row-li{
    background-color: yellow;
    width: 100%;
    height: 100%;
}

#priority-low{
    background-color:greenyellow;
    text-align: center;
}
.priority-Low{
    background-color:greenyellow;
    width: 100%;
    height: 100%;
}
.priority-low-row-li{
    background-color: greenyellow;
    width: 100%;
    height: 100%;
}

/* Style for button remove task */

.remove-task-btn{
    margin: 3px;
}

.remove-task-btn-container{
    text-align: center;
}

/* Default er display none, hover over å se alternativer i dropdowns */
.dropdown-btn:hover + .dropdown-ul{
    
    display:block;
    
}

.dropdown-ul:hover{
    
    display:block;
}
#task-status{
    position: absolute;
    top: 273px;
    left: 15px;
}
#task-priority{
    position: absolute;
    top: 237px;
    left: 15px;
}

/* Style for footer */
footer{
    text-align: center;
    background-color: #262F37;
    color: #fff;
    padding: 20px;
    height: 50px;
    bottom: 0;
    width: 100%;
    position: fixed;
}